body{
    background-color: rgb(10, 99, 2);
}
h1{
    color: red ;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color: yellow;
    font-size: 18px;
}
h3{
    color: grey;
}
ul{
    color: blueviolet;
    font-size: 20px;
}
ol{
    color: orangered;
    font-size: large;
}
img{
    width: fit-content;
}
